<div class="row question_row">
  <div class="col-auto w-100"
       (mouseover)="onMouseOver()"
       (mouseleave)="onMouseOut()"
       (mousedown)="menuToggle()"
  >
    <div class="row">
      <div class="col-auto w-100">
        <a class="btn btn-light w-100 text-left" data-toggle="collapse" href="#collapseQuestion{{questionNumber}}"
           role="button" aria-expanded="false" aria-controls="collapseQuestion"
           [class.shadow]="menuIsOpen"
           [class.btn-dark]="menuIsOpen"
           [innerHTML]="concatTitle"
        >
        </a>
        <div class="collapse" id="collapseQuestion{{questionNumber}}">
          <div class="card card-body"
               [class.shadow]="menuIsOpen"
          >
            <!--Title Section-->
            <div class="row">
              <div class="col-auto w-100">
                <span><b [innerHTML]="question.title">Title:</b></span>
              </div>
            </div>
            <hr>
            <!--Question and Answer Tab List-->
            <div class="row">
              <div class="col-sm-auto mx-auto mb-4">
                <ul class="nav nav-tabs" id="resultsTab{{questionNumber}}" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="question-tab{{questionNumber}}" data-toggle="tab" href="#question{{questionNumber}}" role="tab"
                       aria-controls="question" aria-selected="true">Question</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="answer-tab{{questionNumber}}" data-toggle="tab" href="#answer{{questionNumber}}" role="tab"
                       aria-controls="answer" aria-selected="false">Answer</a>
                  </li>
                </ul>
              </div>
            </div>
            <!--Question and Answer Body-->
            <div class="row">
              <div class="col-auto w-100 tab-content" id="resultsTabContent{{questionNumber}}">
                <div class="tab-pane fade show active" id="question{{questionNumber}}" role="tabpanel" aria-labelledby="question-tab">
                  <span><p [innerHTML]="question.body"></p></span>
                </div>
                <div class="tab-pane fade" id="answer{{questionNumber}}" role="tabpanel" aria-labelledby="answer-tab">
                  <span><p>Your answer is.... !</p></span>
                </div>
              </div>
            </div>
            <!--Results footer Data row-->
            <hr>
            <div class="row">
              <div class="col-auto">
                <span><b>Score:</b> {{question.score}}</span>
              </div>
              <div class="col-auto">
                <span><b>Views:</b> {{question.view_count}}</span>
              </div>
              <div class="col-auto">
                <span><b>Asked On:</b> {{question.creation_date}}</span>
              </div>
              <div class="col-auto">
                <span><b>Link:</b> <a href={{question.link}}> Source</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
