<div class="row question_row">
  <div class="col-auto w-100"
       (mouseover)="onMouseOver()"
       (mouseleave)="onMouseOut()"
       (mousedown)="onClickResultTitle()"
  >
    <div class="row">
      <div class="col-auto w-100">
        <a class="btn btn-light w-100 text-left" data-toggle="collapse" href="#collapseQuestion{{questionNumber}}"
           role="button" aria-expanded="false" aria-controls="collapseQuestion"
           [class.shadow]="menuIsOpen"
           [class.btn-dark]="menuIsOpen"
        >
          <div class="d-flex flex-row justify-content-between">
            <p>{{concatTitle}}</p>
            <div *ngIf="question.answers; else elseAnswerSumBlock">
              <b>{{question.answers.length + 1}}</b>
            </div>
            <ng-template #elseAnswerSumBlock><b>0</b></ng-template>
          </div>
        </a>
        <div class="collapse" id="collapseQuestion{{questionNumber}}" (mousedown)="onClickExpandedMenu()">
          <div class="card card-body"
               [class.shadow]="menuIsOpen"
          >
            <!--Title Section-->
            <div class="row">
              <div class="col-auto w-100">
                <span><b [innerHTML]="question.title">Title:</b></span>
              </div>
            </div>
            <hr>
            <!--Question and Answer Tab List-->
            <div class="row">
              <div class="col-sm-auto mx-auto mb-4">
                <ul class="nav nav-tabs" id="resultsTab{{questionNumber}}" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="question-tab{{questionNumber}}" data-toggle="tab"
                       href="#question{{questionNumber}}" role="tab"
                       aria-controls="question" aria-selected="true">Question</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="answer-tab{{questionNumber}}" data-toggle="tab"
                       href="#answer{{questionNumber}}" role="tab"
                       aria-controls="answer" aria-selected="false">Answer</a>
                  </li>
                </ul>
              </div>
            </div>
            <!--Question and Answer Body-->
            <div class="row">
              <div class="col-auto w-100 tab-content" id="resultsTabContent{{questionNumber}}">
                <div class="tab-pane fade show active" id="question{{questionNumber}}" role="tabpanel"
                     aria-labelledby="question-tab">
                  <span><p [innerHTML]="question.body"></p></span>
                </div>
                <div class="tab-pane fade" id="answer{{questionNumber}}" role="tabpanel" aria-labelledby="answer-tab">
                  <div *ngIf="question.answers; then thenBlock; else elseBlock">
                  </div>
                  <ng-template #thenBlock>
                    <div *ngFor="let answer of question.answers; let j = index">
                      <div class="row"><div class="col-sm-auto mx-auto"><p><b>Answer {{j+1}}</b></p></div> </div>
                      <p [innerHTML]="answer.body"></p>
                    </div>
                  </ng-template>
                  <ng-template #elseBlock><p class="text-center"><i>No Accepted Answers to this question</i></p></ng-template>
                </div>
              </div>
            </div>
            <!--Results footer Data row-->
            <hr>
            <div class="row">
              <div class="col-auto">
                <span><b>Score:</b> {{question.score}}</span>
              </div>
              <div class="col-auto">
                <span><b>Views:</b> {{question.view_count}}</span>
              </div>
              <div *ngIf="question.answers; else answer0Block" class="col-auto">
                <span><b>Answers:</b> {{question.answers.length}}</span>
              </div>
              <ng-template #answer0Block><span><b>Answers: </b>0</span></ng-template>
              <div class="col-auto">
                <span><b>Asked On:</b> {{question.creation_date}}</span>
              </div>
              <div class="col-auto">
                <span><b>Link:</b> <a href={{question.link}}> Source</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
